<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDI project-2</title>
    <%- include partials/_stylesheets %>
    <%- include partials/_scripts %>
  </head>

  <body class="site">
    <%- include partials/_navbar %>
    <%- include partials/_search %>

    <main class="site-content">
      <div class="section">
        <%- include partials/_messages %>
        <div class="columns">
          <%- body %>
        </div>
      </div>
    </main>

    <div class="tile is-ancestor">

      <footer class=" footer tile is-parent">

        <%# need to offset by 4%>
        <div class="tile is-4 is-child">

        </div>
        <div class="tile is-1 is-child">
          <p>
              Created by
          </p>
        </div>


              <div class="tile is-1 is-child">
                <div class="content has-text-centered">
                  <p>

                    <a href="https://github.com/obfusticatedcode">
                      <i class="fa fa-github"></i><span>GitHub</span>
                    </a>
                  </p>
                </div>
              </div>

              <div class="tile is-1 is-child">
                <div class="content has-text-centered">
                  <p>
                    <a href="https://twitter.com/chisomo16">
                      <i class="fa fa-twitter"></i><span>Twitter</span>
                    </a>
                  </p>
                </div>
              </div>

              <%# need to offset by 5%>
              <div class="tile is-5 is-child">

                <div id="fb-root"></div>
                <div class="fb-share-button" data-href="https://github.com/obfusticatedcode/wdi-ldn-project-1" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgithub.com%2Fobfusticatedcode%2Fwdi-ldn-project-1&amp;src=sdkpreparse">Share</a>

                </div>
              </div>

      </footer>
    </div>


  </body>
</html>
