<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDI project-2</title>
    <%- include partials/_stylesheets %>
    <%- include partials/_scripts %>
  </head>

  <body class="site">
    <%- include partials/_navbar %>

    <main class="site-content">
      <div class="section">
        <%- include partials/_messages %>
        <div class="columns">
          <%- body %>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <a href="https://github.com/obfusticatedcode">
              <i class="fa fa-github"></i><span>GitHub</span>
            </a>
          </p>
        </div>
        <div class="content has-text-centered">
          <p>
            <a href="https://twitter.com/chisomo16">
              <i class="fa fa-twitter"></i><span>Twitter</span>
            </a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
