<!DOCTYPE html>
<html lang="en" class="h-full overflow-x-hidden">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trade Space: Buy &amp; Sell Locally, Anywhere</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/favicon.svg">
    <%- include('partials/_stylesheets') %>
    <%- include('partials/_scripts') %>
  </head>
  <body class="h-full bg-gray-50 font-sans text-gray-900 flex flex-col min-h-screen overflow-x-hidden">
    <%- include('partials/_navbar') %>
    <%- include('partials/_messages') %>
    <main class="flex-1">
      <%- body %>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>
