<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDI project-2</title>
    <%- include partials/_stylesheets %>
    <%- include partials/_scripts %>
  </head>

  <body class="site">
    <%- include partials/_navbar %>
    <%- include partials/_search %>

    <main class="site-content">
      <div class="section">
        <%- include partials/_messages %>
        <div >
          <%- body %>
        </div>
      </div>



    </main>

    <div class="tile is-ancestor">
      <%# the footer%>
        <%- include partials/_footer %>
    </div>


  </body>
</html>
