


<div class="columns is-multiline">


  <% posts.forEach((post) => { %>
  <div class="column is-4">
    <a href="/posts/<%= post.id %>">
    <img src="<%= post.imageSRC %>" alt="<%=  %>">
    <h3><%= post.title %></h3>
    <h3><%= post.description %></h3>
    <h3>Location: <%= post.location %></h3>

    </a>
    <p>
      <h4><%= post.createdBy.username %></h4>
      <% while(post.stars--) { %> &star; <% } %>
    </p>
    <form method="POST" action="/posts/<%= post.id %>">
      <a href="/posts/<%= post.id %>/edit" class="button is-warning">Edit</a>
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger">Delete</button>
    </form>
  </div>

  <% }) %>
</div>
