
<%# this empty div is used for off-setting%>
<div class="tile is-ancestor">
  <div class="tile is-2 is-parent">
    <div class="tile is-child">
      <h1 class="title"><%= post.category %></h1>
    </div>
  </div>

  <div class="tile is-4 is-parent is-vertical">
    <h1 class="title">Map</h1>
    <hr>
    <div class="tile is-child">
      <%# adding in the map to take the 3 words location and show it on the map%>
      <div class="field">
        <div class="map-container">
          <span class="map-marker"></span>

          <div class="" id="map" data-lat="<%= post.lat %>" data-lng="<%= post.lng %>"></div>
        </div>
        <input class="input three-words-location" type="text" name="location" value="">
        <hr>
        <%# the toggle switch%>
        <input type="checkbox" id="toggle-switch" class="switch">
        <label for="toggle-switch">&nbsp;</label>
        <p>Some buying advice</p>
      </div>
    </div>
  </div>

<div class="tile is-4 is-parent is-vertical">
  <h1 class="title">Details</h1>
  <hr>
  <div class="tile is-child">
    <figure class="image">
        <img src="<%= post.imageSRC %>" alt="<%= post.name %>">
    </figure>


    <h4><%= post.title %></h4>
    <h4><%= post.description %></h4>
    <p>

      <%# submit location%>
      <h4 id="item-location"><%= post.location %></h4>

      <%# using the lat and lng to process the distance%>
      <div id="directions-panel"></div>


    </p>

    <div class="field has-addons">
      <p class="control">
        <%# perhaps use a forEach loop to feed a dropdown for currencies%>
        <h4 id="item-currency"><%= post.currency %></h4>
      </p>
      <p class="control">
        <h4 id="item-price"><%= post.price %></h4>
      </p>
    </div>

    <div class="field has-addons">
      <p class="control">
        <h4  type="text" name="currency" id="currency-label"></h4>
      </p>
      <p class="control">
        <h4 id="converted-price-display"></h4>
      </p>
    </div>


    <p class="has-icons-left">
      <a href="mailto:<%= post.email %>?subject=Hi%21%20<%= post.createdBy.username %>%20I'm%20Interested%20in%20your%20<%= post.title %>%20advert"><h4 class="button email-link" id="item-location">Send the seller,  <%= post.createdBy.username %>, an email.</h4>
        <span class="icon is-small is-left">
          <i class="fa fa-paper-plane"></i>
        </span>
      </a>

    </p>

    <p>
      <h4><%= post.createdBy.username %></h4>
      <% while(post.stars--) { %> &star; <% } %>
    </p>

    <%# if the user isAuthenticated and the post has been created by the user allow editing and deleting%>
      <% if(locals.isAuthenticated ) { %>
        <form method="POST" action="/posts/<%= post.id %>">
          <a href="/posts/<%= post.id %>/edit" class="button is-warning">Edit</a>
          <input type="hidden" name="_method" value="DELETE">
          <button class="button is-danger">Delete</button>
        </form>
    <% } %>
  </div>



  <div class="tile is-child">
    <%# leaving a comment%>
    <% if(locals.isAuthenticated) { %>
      <div class="columns">
        <div class="column">
          <section>
            <h4>Add a comment</h4>
            <form method="POST" action="/posts/<%= post.id %>/comments">

              <textarea class="input" name="content" id="content" placeholder="Comment"></textarea>
              <button class="button is-success">Add a comment</button>
            </form>
          </section>
        </div>
      </div>
    <% } %>

    <%# deleting comments%>
    <section>
      <h4>Comments</h4>
      <% post.comments.forEach((comment) => { %>
        <p><%= comment.content %></p>
        <small><%= comment.createdBy.username %></small>

        <% if(locals.isAuthenticated ) { %>
          <form method="POST" action="/posts/<%= post.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger">Delete</button>
          </form>
        <% } %>
      <% }) %>
    </section>
  </div>


</div>
